<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSHandsTrackingUsageDescription</key>
    <string>손 관절을 시각화하고 손 모양을 인식하는 Hand Jutsu 기능을 위해 손 추적을 사용합니다.</string>
</dict>
</plist>
